@use "../../styles/util/" as *;

.searchBarForm {
  background-color: $light-elements;
  display: grid;
  grid-template-columns: rem(20) auto calc(100% - 50px) rem(20);
  grid-template-rows: 1fr;
  margin: 0 auto;
  input {
    border: none;
    border-radius: 0 $br $br 0;
    grid-column-start: 3;
    padding: rem(20);
    width: 100%;
  }
  button {
    background-color: $light-elements;
    border: none;
    border-radius: $br 0 0 $br;
    grid-column-start: 2;
    grid-column-end: 3;
    grid-row-start: 1;
    width: rem(50);
    svg {
      fill: $light-input;
      height: rem(24);
      width: rem(24);
    }
  }
}
